body {
  margin: 0px;
  background: white;
  padding: 5px;
}
#content {
  width: 100%;
}
.react-grid-layout {
  background: #eee;
}
.layoutJSON {
  background: #ddd;
  border: 1px solid black;
  margin-top: 10px;
  padding: 10px;
}
.columns {
  -moz-columns: 120px;
  -webkit-columns: 120px;
  columns: 120px;
}
.react-grid-item:not(.react-grid-placeholder) {
  background: #ccc;
  border: 1px solid black;
}
.react-grid-item.resizing {
  opacity: 0.9;
}
.react-grid-item.static {
  background: #cce;
}
.react-grid-item .widget {
  left: 0;
  right: 0;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  height: inherit;
  width: inherit;
}
.react-grid-item .minMax {
  font-size: 12px;
}
.react-grid-item .add {
  cursor: pointer;
}
