
.widget h1.title{
  margin-bottom: 12px;
  text-align: center;
  font-size: 250%;
  font-weight: 400;
  font-family: 'Ubuntu', sans-serif;
  color: rgba(255,255,255,0.7);
}

.widget .body {
  font-size: 150%;
  font-family: 'Ubuntu', sans-serif;
}

.widget .more-info {
  font-size: 15px;
  font-family: 'Ubuntu', sans-serif;
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 32px;
}

.widget .updated-at {
  font-size: 15px;
  font-family: 'Ubuntu', sans-serif;
  color: rgba(0,0,0,0.3);

  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 5px;
}

.react-grid-item.text-widget {
  background: #ec663c;
  color: white;
}

.react-grid-item.number-widget {
  background: #47bbb3;
  color: white;
}
